
  <div class="col-sm-6 right-padding-zero">
    <div class="card">
      <div class="card-header card-header-btn">
        <div class="row">
          <div class="col-sm-6">
            <strong>Communication Log</strong>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-primary btn-sm pull-right" (click)="onRefreshLog()" type="button">
              <i class="fa fa-refresh spin"></i>&nbsp; Refresh Log </button>
          </div>
        </div>
      </div>
      <div class="card-body" style="background: #CCC">
        <div id="commLog" style="padding-top: 5px; height: 105px; overflow: auto">
          <div *ngFor="let log of logArray">  
            <div *ngIf="log.commLogCreatedBy==user.id" class="col-sm-10 bubble me">
              <p class="pcls">{{log.message}}</p>
              <div class="row">
                <div class="col-sm-1" *ngIf="log.attachmentList!=undefined && log.attachmentList.length>0">
                  <img src="assets/img/attachment.png" style="height: 20px;width: 20px;margin-top: 5px">
                </div>
                <!-- <div *ngFor="let attachment of log.attachmentList ; let lastIndex= last">
                  <button type="button" class="btn btn-link" style="padding: 2px" (click)="onDocumentDownload(attachment)">{{attachment.attachedFileName}}</button>
                  <label *ngIf="!lastIndex" style="font-size: 20px">,</label>
                </div> -->
              </div>
              <span class="time-right">{{log.userFirstName}} {{log.userLastName}} ({{log.userRoleName}}) , {{log.commLogCreatedOn}}</span>
            </div>
            <div *ngIf="log.commLogCreatedBy!=user.id" class="col-sm-10 bubble you">
              <p class="pcls">{{log.message}}</p>
              <div class="row">
                <div class="col-sm-1" *ngIf="log.attachmentList!=undefined && log.attachmentList.length>0">
                  <img src="assets/img/attachment.png" style="height: 20px;width: 20px;margin-top: 5px">
                </div>
                <!-- <div *ngFor="let attachment of log.attachmentList ; let lastIndex= last">
                  <button type="button" class="btn btn-link" style="padding: 2px" (click)="onDocumentDownload(attachment)">{{attachment.attachedFileName}}</button>
                  <label *ngIf="!lastIndex" style="font-size: 20px">,</label>
                </div> -->
              </div>
              <span class="time-right">{{log.userFirstName}} {{log.userLastName}} ({{log.userRoleName}}) , {{log.commLogCreatedOn}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body" style="padding-top: 5px;padding-bottom: 10px">
        <form #formLog="ngForm" (ngSubmit)="onSubmitLog(formLog)">
          <div class="row">
            <div class="form-group col-sm-12">
              <textarea class="form-control" rows="2" id="comments_01" name="comments" #commentsLog="ngModel" placeholder="Type your message here"
                style="resize: none"
                [(ngModel)]="communicationLog.message"></textarea>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-sm-8">
              <label style="padding-left: 10px;padding-right: 10px;margin-bottom: 0px"  for="fileupload" type="button"   class="btn btn-primary btn-sm">
                Browse Files
              </label>
              <input type="file" id="fileupload" name="fileupload" multiple (change)="getFiles($event)" [disabled]="!isFormEditable || conflict.statusId==globalVal.statusIdE.CONF_RESOLVED"
                hidden>
            </div> -->  
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary  btn-success btn-sm pull-right" (click)="onResetCommentLog(formLog)" >
                <i class="fa fa-check-circle"></i> Reset</button>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn  btn-primary btn-sm pull-right">
                <i class="fa fa-check-circle"></i> Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>